body {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(51, 120, 134);
    color: rgba(0, 0, 0, 0.784);
    line-height: 1.5;
    font-size: 14px;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.section-center {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
}

img {
    width: 100%;
}

.gift {
    margin-bottom: 2rem;
}

.gift-info h2 {
    text-transform: uppercase;
    color: rgb(69, 12, 12);
}

.gift-info p {
    font-weight: bold;
}

.date {
    color: black;
    font-size: 0.85rem;
}

.giveaway {
    font-size: 17px;
    color: rgb(5, 34, 66);
}

@media screen and (min-width: 992px) {
    .section-center {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 3rem;
        width: 95vw;
    }
    .gift-img {
        margin-bottom: 0;
    }
}

.gift-info p {
    margin: 2rem 0;
}

.deadline {
    display: flex;
}

.deadline-format {
    background: rgb(4, 57, 101);
    color: white;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    display: block;
    place-items: center;
    text-align: center;
}

.deadline-format span {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
}

.deadline-format h4 {
    font-size: 20px;
    margin-bottom: 0.25rem;
}

.expired {
    font-size: 25px;
    color: rgb(21, 17, 2);
}